.uwdgh-alert {
	position: relative;
	z-index: 999;
	width: 100%;
	left: 0;
	right: 0;
}

.uwdgh-alert .alert {
	padding: 1rem 2rem;
	border: 1px solid transparent;
	border-radius: 0;
	margin-bottom: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	line-height: initial;
	text-align: initial; 
}
@media (max-width: 576px) {
	.uwdgh-alert .alert {
		padding: 1rem 1rem;
	}
}
@media (min-width: 992px) {
	.uwdgh-alert .alert {	
		background-image: url(../svg/transmit.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position-x: calc(100% - 45px);
	}
}

.uwdgh-alert .alert h1,
.uwdgh-alert .alert h2,
.uwdgh-alert .alert h3,
.uwdgh-alert .alert h4,
.uwdgh-alert .alert h5,
.uwdgh-alert .alert h6 {
	margin-top: 0;
	margin-bottom: 0.75rem;
}
.uwdgh-alert .alert p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
.uwdgh-alert .alert p:empty {
	display: none;
}
.uwdgh-alert .alert a {
	color: #0000EE;
	text-decoration: underline;
}
.uwdgh-alert .alert a:visited,
.uwdgh-alert .alert a:active {
	color: #551A8B;
}

.uwdgh-alert.alert-primary,
.uwdgh-alert .alert.alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}
.uwdgh-alert.alert-secondary,
.uwdgh-alert .alert.alert-secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}
.uwdgh-alert.alert-success,
.uwdgh-alert .alert.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.uwdgh-alert.alert-danger,
.uwdgh-alert .alert.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.uwdgh-alert.alert-warning,
.uwdgh-alert .alert.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}
.uwdgh-alert.alert-info,
.uwdgh-alert .alert.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}
.uwdgh-alert.alert-light,
.uwdgh-alert .alert.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}
.uwdgh-alert.alert-dark,
.uwdgh-alert-container .alert.alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}
.uwdgh-alert.alert-uw,
.uwdgh-alert-container .alert.alert-uw {
	color: #4b2e83;
	background-color: #e8e3d3;
	border-color: #e8e3d3;
}
.uwdgh-alert.alert-uwspiritgold,
.uwdgh-alert-container .alert.alert-uwspiritgold {
	color: #000000;
	background-color: #ffc700;
	border-color: #ffc700;
}

.uwdgh-alert .alert button.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	font-size: 150%;
	font-weight: 600;
	line-height: 1;
	padding: 0;
	text-decoration: none;
}
.uwdgh-alert .alert button.close:active,
.uwdgh-alert .alert button.close:focus,
.uwdgh-alert .alert button.close:hover  {
	text-decoration: none;
}