
.uwdgh-admin-features.columns2 {
	@media screen and (min-width: 782px) {
		width: 48%; /* offset the 2px left-margin from WP's wrap class */
		display: inline-block; 
		vertical-align: top;
	}
}
a.uwdgh-admin-features-card {
  text-decoration: none;
  color: inherit;
}
a.uwdgh-admin-features-card .card {
  background-color: #dcdcde;
}
a.uwdgh-admin-features-card .card:hover,
a.uwdgh-admin-features-card .card:active {
  background-color: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
}
a.uwdgh-admin-features-card .card:focus {
  box-shadow: 0 1px 10px rgb(0 0 0 / 24%);
}

#wp-uwdgh_admin_features_alert_text-wrap {
	max-width: 1150px;
}
#uwdgh_admin_features_alert_type option.primary,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff; }
#uwdgh_admin_features_alert_type option.secondary,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].secondary  {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db; }
#uwdgh_admin_features_alert_type option.success,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].success  {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb; }
#uwdgh_admin_features_alert_type option.danger,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].danger  {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb; }
#uwdgh_admin_features_alert_type option.warning,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].warning  {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba; }
#uwdgh_admin_features_alert_type option.info,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].info  {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb; }
#uwdgh_admin_features_alert_type option.light,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].light  {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe; }
#uwdgh_admin_features_alert_type option.dark,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].dark  {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca; }
#uwdgh_admin_features_alert_type option.uw,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].uw  {
	color: #4b2e83;
	background-color: #e8e3d3;
	border-color: #e8e3d3;
}
#uwdgh_admin_features_alert_type option.uwspiritgold,
#uwdgh_admin_features_alert_type_reference input[type=text][disabled].uwspiritgold  {
	color: #000000;
	background-color: #ffc700;
	border-color: #ffc700;
}
#uwdgh_admin_features_alert_type_reference input[type=text][disabled] {
	padding: 1rem;
}